.hero {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
}

.hero__logo {
  display: block;
  max-width: 150px;
  margin: 0 auto 10px;
  height: auto;
}

.hero-element-fade-out {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.hero__iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  z-index: -1;
}

.hero__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  z-index: -2;
}

.hero__video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  z-index: -1;
}

.hero__content {
  position: relative;
  z-index: 1;
  margin: 20px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.hero__main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Agregado */
  height: 100%; /* Asegura que ocupe todo el alto disponible */
}

.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero__description {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 15px;
  width: 100%;
  margin: auto;
}

.hero__subtitles {
  font-size: 34px;
  font-weight: bold;
}

.hero__subtitles-container {
  transition: all 0.3s ease-in-out;
  width: 100%;
}

/* Nueva implementación para la posición bottom */
.hero__subtitles-container--bottom {
  position: fixed; /* Cambiado a fixed para posicionar respecto a la ventana */
  bottom: 100px; /* Distancia desde el borde inferior */
  left: 0;
  right: 0;
  z-index: 2; /* Asegura que esté por encima de otros elementos */
}

/* Specific styles for desktop */
@media (min-width: 769px) {
  .hero__content {
    justify-content: center;
    align-items: center;
  }

  .hero__section {
    width: 100%;
    max-width: 1200px;
  }

  .hero__subtitles-container--bottom {
    bottom: 150px; /* Mayor distancia en desktop */
  }

  .hero__section:last-child {
    position: fixed;
    align-items: center;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }
}
.hero__logo--top {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  max-width: 150px;
  height: auto;
}

/* Specific styles for mobile */
@media (max-width: 768px) {
  .hero__title {
    font-size: 24px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__subtitles {
    font-size: 28px;
  }

  .hero__subtitles-container--bottom {
    bottom: 150px; /* Menor distancia en mobile */
  }
}

@media (min-width: 769px) {
  .hero__logo--top {
    max-width: 180px;
    top: 30px;
  }
}

@media (max-width: 768px) {
  .hero__logo--top {
    max-width: 120px;
    top: 45px;
  }
}