/* Footer.css */
.footer01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding-top: 20px;
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto del elemento */
}

.footer01__social-links {
  display: flex;
  gap: 20px;
  margin-bottom: 0px;
  margin-top: 20px; /* Añadido margen superior */
}

.footer01__social-link {
  color: var(--footer-icon-color);
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer01__social-link:hover {
  color: var(--footer-icon-hover-color);
}

.footer01__footerText {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px; /* Añadido margen superior */
}

.footer01__footerText{
  color: var(--footer-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer01__footerText:hover {
  color: var(--footer-text-hover-color);
}

.footer01__after {
  width: 100%;
  height: 5px;
  margin-top: 20px;
  background-color: var(--footer-after-background-color);
}
.footer01__phone-link {
  display: none; /* No Mostrar en dispositivos desk */
}

@media (max-width: 768px) {
  .footer01 {
    
    
    bottom: 0;
  }

  .footer01__social-links {
    margin-bottom: 15px;
    margin-top: 30px; /* Añadido margen superior */
  }

  .footer01__telefono {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px; /* Añadido margen superior */
  }
  .footer01__phone-link {
    display: inline; /* Mostrar en dispositivos móviles */
  }
}
